:root {
  --rosso: rgb(255, 0, 98);;
}

* {
  color:rgb(0, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
}

header {
  box-sizing: border-box;
  background-image: url("./imgs/NYC.jpg");
  background-size: cover;
  display:flex;
  height: 100vh;
  align-items: flex-end;
  padding-bottom: 10vh;
  justify-content: center;
}

.intro {
  font-size: 3em;
  text-align: center;
}

.greeting {
  padding-bottom: 1vh;
}

.find-out {
  width: fit-content;
  margin: 2vh auto;
  padding: 5px;
}

.heading__arrow {
  display: inline-block;
  height: 24px;
  width: 24px;
  fill: var(--rosso);
  transition: all 2s;
}


header span {
  color: var(--rosso);
  animation-direction: reverse;
  animation-duration: 2s;
}

nav {
  background-color: black;
  display:flex;
  position:sticky;
  top:0;
  border:2px solid aqua;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  font-size:1.3em;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

a {
  padding:10px;
  text-decoration: none;
  white-space: nowrap;
}

a:hover:not(#arrow-link) {
  background-color: var(--rosso);
}

.project-description:nth-child(odd) {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}


h2 {
  display: flex;
  justify-content: center;
  border-bottom: 7px solid var(--rosso);
}

.section-title {
  display: flex;
  justify-content: center;
  /* scroll-margin-top is used to prevent anchor links from scrolling behind a sticky header with one line of CSS */
  scroll-margin-top: 7vh;
}

.about-details {
  display:flex;
  margin:2vw;

}

.about-description {
  margin:0 auto;
  text-align: center;
  width:50%;
}

.about-description p {
  text-align: justify;
}

/* To create a gradient border we set a background to the wrap container and then a black background and padding to make it look like a background */
.border-wrap {
  background: linear-gradient(to right, var(--rosso), aqua);
  padding: 3px;
  margin:2rem;
}

.skills {
  display: flex;
  
}

.skill-column {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.skill {
  background: black;
  padding:1rem;
  width: 5vw;
  height:5vw;
  display:flex;
  justify-content: center;
  align-items: center;


}

.skill img {
  height: 4vw;
  padding-bottom: 0px;
}

.silhoutte {
  height: 15rem;
  padding:2rem;
}

.project {
  display:flex;
}

.project-image, .project-description{
  margin:20px;
  border-radius: 30px ;
}

.project-image  {
  width:60vw;
  /* border:2px solid var(--rosso) */
}

.project-description h3{
  padding: 1px;
  border-bottom:2px solid var(--rosso);
  width:fit-content;
}

.project-links {
  padding:2rem 0;
  display: flex;
  justify-content: left ;
}

.project-links a {
  border:3px solid;
  width: 3rem;
  text-align: center;
}

/* add a margin-right only to odd numbered links */
.project:nth-child(odd) .project-links a{
  margin-right: 3rem;
}

/* add a margin-left only to even numbered links */
.project:nth-child(even) .project-links a{
  margin-left: 3rem;
}

footer  {
  font-size: 0.7em;
  margin:3vh auto;
  text-align: center;
}

#arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#arrow:hover {
  animation: none;
}


@media only screen and (max-width: 992px) {
  .intro {
    font-size: 8vw;

  }

  .about-details {
    flex-direction: column;
    margin:0;
  }

  .about-description {
    margin:5px;
    width: fit-content;
  }

  .project {
    flex-direction: column;
  }

  .border-wrap {
    margin: 5vw;
  }

  .skills {
    justify-content: space-evenly;
    text-align: center;
    
  }

  .project {
    display:flex;
    flex-direction: column;
    align-items: center!important;
    justify-content: center!important;
    margin:0 auto;
    width:65vw;
  }

  .skill {
    height:9vw;
    width:9vw;
  }

  .skill img {
    width:auto;
    height:5vh;
  }

  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-links a{
    margin: auto 20px auto 20px !important;
  }

  .project img {
    order:1;
  }

  .project-description {
    display:flex;
    flex-direction: column;
    align-items: center!important;
    text-align: center!important;
  } 
  
  
} 

